.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  border: 3px solid #00a4ff;
  border-radius: 20px;
  height: 100px;

  button {
    display: block;
    height: fit-content;
    width: 100px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #00a4ff;
    color: black;
    outline: none;
    border: none;
  }
}